@import url("#{$base-font-url}");

body,html {
  background: $primary-bg;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $regular;
  color: $gray-strong;
}

h4 {
  font-size: 1.1428571428em;
}

p {
  color: $gray;
}

a {
  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: none;
  }
}

button {
  &:hover, &:focus, &:active {
    outline: 0;
  }
}