.page {
  margin-left: 300px;
  position: absolute;
  height: 100%;
  width: calc(100% - 300px);

  &__content {
    padding: 40px;
  }
  &__header {
    padding-bottom: 40px;
    h4 {
      color: $gray;
    }
  }
}
