.sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  border-right: 1px solid $gray-thin;
  text-align: center;

  &__action-buttons {
    margin: 40px 20px 10px;
    text-align: left;
    a {
      color: $gray;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $gray-strong;
      }
    }
  }
  &__user-info {
    margin: 0 auto;
    text-align: center;
    .sidebar__user-profile {
      width: 100px;
      height: 100px;
      border: 1px solid $gray;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $gray;
        img {
          opacity: .9;
        }
      }
      img {
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        border-radius: 50%;
        margin: 7px 7px 0;
      }
    }
    .sidebar__fullname {
      margin-top: 40px;
      font-size: 1.14285714em;
      font-weight: $semibold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .sidebar__status {
      color: $gray;
    }
  }
  &__searchbox {
    margin-top: 40px;
  }
  &__filterbox {
    margin: 40px 80px;
    .filterbox__header {
      padding: 8px 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        border-radius: 1rem;
        font-size: 0.9285rem;
        margin-top: 8px;
        padding: 5px 0 7px;
        border: 1px solid #fff;
        transition: all 0.2s ease-in-out;
        color: #fff;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #fff;
          &::before {
            font-family: 'Material Icons';
            content: '\E876';
            position: absolute;
            left: 12px;
            top: 4.5px;
            font-size: 1rem;
          }
        }
        &.danger {
          border-color: $red;
          background: $red;
        }
        &.warning {
          border-color: $yellow;
          background: $yellow;
        }
        &.info {
          border-color: $blue;
          background: $blue;
        }
      }
    }
  }
}