.sidebar {
  position: absolute;
  height: 100%;
  width: 300px;
  border-right: 1px solid $gray-thin;
  text-align: center;

  &__action-buttons {
    margin: 40px 20px 10px;
    text-align: left;
    a {
      color: $gray;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $gray-strong;
      }
    }
  }
  &__user-info {
    margin: 0 auto;
    text-align: center;
    .sidebar__user-profile {
      width: 100px;
      height: 100px;
      border: 1px solid $gray;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      img {
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        border-radius: 50%;
        margin: 7px 7px 0;
      }
    }
    .sidebar__fullname {
      margin-top: 40px;
      font-size: 1.14285714em;
      font-weight: $semibold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .sidebar__status {
      color: $gray;
    }
  }
  &__searchbox {
    margin-top: 40px;
  }
}