.icon {
  border: 0;
  color: white;
  transition: all 0.2s ease;
  border-radius: 4px;
  i {
    font-size: 1.42857142em;
    padding: 5px 0;
    vertical-align: middle;
  }
  &.icon--delete {
    &:hover {
      background: $red;
      color: #fff;
    }
  }
  &.icon--edit {
    &:hover {
      background: $green-action;
      color: #fff;
    }
  }
}
