// Font weights

$light: 200;
$regular: 400;
$semibold: 500;
$bold: 700;

$base-font-family: 'Roboto', sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-font-url: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

$primary-bg: #FCFDFE;

// colors

$gray-strong: #544e52;
$gray: #97a1af;
$gray-thin: #ebebeb;
$gray-hover: #7e8897;
$green-action: #6CC37D;
$green-hover: #59b26a;
$blue: #A6D8ED;
$red: #fd6f61;
$yellow: #ffc823;
